.ForgotPasswordPage {
  text-align: center;
}

.ForgotPasswordPage__logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
}

.ForgotPasswordPage__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.ForgotPasswordPage__tagline {
  color: gainsboro;
  font-size: 16px;
  padding: 0;
}