.ForgotPasswordPage {
  text-align: center;
}

.ForgotPasswordPage__logo {
  color: #1D1D39;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
}

.ForgotPasswordPage__title {
  color: #2C2C4D;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.ForgotPasswordPage__tagline {
  color: #545454;
  font-size: 16px;
  padding: 0;
}