.RegistrationPage {
  text-align: center;
}

.RegistrationPage__logo {
  color: #1D1D39;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
}

.RegistrationPage > p {
  color: #545477;
  font-size: 18px;
}