.PopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.PopUp__main {
  position: fixed;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  width: 50%;
  height: auto;
  top: 35%;
  right: 25%;
  padding: 20px;
}

.PopUp__close {
  float: right;
  padding: 5px;
  border-radius: 10px;
  background: #E865FF;
  color: #EFEFEF;
  font-weight: bolder;
  font-size: 1rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}