.LoginForm__forgot {
  font-size: .7em;
  color: gainsboro;
}

.LoginForm__not_member {
  font-size: .8em;
  color: gainsboro;
}

.LoginForm__register {
  color: gainsboro;
}

.LoginForm label {
  color: white;
}