.Header {
  margin-left: 5%;
  margin-top: 30px;
}

.Header h2 {
  color: #EFEFEF;
}

.Header h3 {
  color: #EFEFEF;
}

.Header div {
  border: 3px solid #9414BA;
  border-radius: 5px;
  width: 83px;
  height: 0px;
  margin-top: -15px;
  margin-bottom: 20px;
}