.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #2C2C4D;
  height: 100%;
  width: 100%;
  text-align: right;
  padding: 2rem;
  padding-top: 6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.Menu__link {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s linear;
}

.Menu__link:hover {
  color: #E865FF;
  opacity: 0.8;
}

.logout {
  background: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .Menu {
    width: 50%;
  }

  .Menu__link {
    font-size: 2rem;
    text-align: right;
  }
}

@media screen and (min-width: 1025px) {
  .Menu {
    width: 30%;
    justify-content: center;
  }

  .Menu__link {
    font-size: 2rem;
    text-align: right;
  }
}