html, body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-rendering: optimizeLegibility;
  overflow: hidden;
  background: #EFEFEF;
}

.loading {
  margin: 150px auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #E865FF;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.no-data {
  margin-left: 5%;
}

.DataTable__button {
  background: transparent linear-gradient(105deg, #7F00FF 0%, #E100FF 100%);
  border-radius: 5px;
  color: #EFEFEF;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 5px;
  padding: 8px 12px;
  text-decoration: none;
}