.Input,
.Textarea {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
  width: 75%;
  max-width: 300px;
  border-radius: 4px;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: vertical
}

.Button {
  order: 1px solid #aaa;
  background: transparent linear-gradient(105deg, #7F00FF 0%, #E100FF 100%);
  border: none;
  border-radius: 5px;
  color: #EFEFEF;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 12px;
}

.Button:hover {
  opacity: .8;
}

.Button:disabled {
  opacity: .3;
}

.Button:disabled:hover {
  cursor: not-allowed;
}

.Required {
  color: #CA1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}

.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}