.Nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 5px;
  background: #0D0D20;
}

.Nav__logo {
  padding-left: 1.5rem;
  color: #EFEFEF;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s linear;
}

.Nav__logo:hover {
  color: #E865FF;
  opacity: 0.8;
}

.Nav__logo_icon {
  margin-left: 10px;
}

.Menu-enter {
  transform: translateX(100%);
}

.Menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.Menu-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}