.Table {
  border-spacing: 0px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  width: 100%;
  border-collapse: collapse;
}

.DataTable {
  padding: 1% 5%;
  max-width: 100vw;
}

.Cell {
  border: 1px solid #EFEFEF;
  color: #EFEFEF;
  padding: 10px;
  text-align: left;
}

tr:nth-of-type(odd) {
  background: #545477;
}

tr:nth-of-type(even) {
  background: #2C2C4D;
}

.Cell-header {
  background: #0D0D20;
  color: #EFEFEF;
  font-weight: bold;
}

.ScrollContainer {
  overflow-x: auto;
}

